*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.mobile-1{
    height: 100vh;
    background-color: white;

}

.text{
    display: flex;
    align-items:center;
}

#logout{
    font-family: "Manrope", sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #223263;
    color: #cfd4ff;
    font-size: 17px;
    position:absolute;
    right: 60px;
    top: 30px;
    width: 100px;
    height: 45px;
    cursor: pointer;
}

.mobile-1 h2{
    font-family: "Manrope", sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    color: #223263;
    font-weight: 1000;
    cursor: pointer;
}

.maincontainer{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container1{
    border: 1px solid #cfd4ff;
    border-radius: 10px;
    height: 235px;
    width: 325px;
    margin: 15px;
    text-align: center;
    transition-duration: 0.2s;
    transition-timing-function:ease-in;
}

.container1:hover{
    box-shadow: 1px 1px 5px #cfd4ff;
    padding: 4px 6px;
    margin-bottom: 7px;
}

.container1 img{
    width: 240px;
    margin-top: 10px;
}

.container1 figcaption{
    font-family: "Manrope", sans-serif;
    font-weight: 1000;
    font-size: 29px;
    margin-top: 10px;
    color: #223263;
}

.container2{
    border: 1px solid #cfd4ff;
    border-radius: 10px;
    height: 235px;
    width: 325px;
    margin: 15px;
    text-align: center;
    transition-duration: 0.2s;
    transition-timing-function:ease-in;
}

.container2:hover{
    box-shadow: 1px 1px 5px #cfd4ff;
    padding: 5px 7px;
    margin-top: 5px;
}

.container2 img{
    width: 165px;
    margin-top: 5px;
}

.container2 figcaption{
    font-family: "Manrope", sans-serif;
    font-weight: 1000;
    font-size: 29px;
    margin-top: 0px;
    color: #223263;
}

a{
    text-decoration: none;
}
