* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #223263;
}

.message {
    height: 380px;
    width: 438px;
    background-color: #cfd4ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.succsess {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Manrope", sans-serif;

}

.text1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;

    font-family: "Manrope", sans-serif;
}

.text2 {
    text-align: center;
    font-size: 25px;
}

img {
    width: 100px;
    margin: 30px;
}

.home {
    border: none;
    background-color: #4a5c95;
    width: 370px;
    height: 45px;
    border-radius: 7px;
    font-size: 22px;
    color: #cfd4ff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home:hover {
    background-color: #223263;
}
